{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1634120690145-de3e3b32509a?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Log In</h1>
                    <span class="subheading">Shucks fren, git on in hurrr!</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <p style="color:red; text-align:center;">{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto content">
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
</div>


{% include "footer.html" %}
{% endblock %}